@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

*{
   font-family: "Poppins", sans-serif;
}
.active {
 border-bottom: 2px solid rgb(137, 137, 137) ;
 
}
.hide-scrollbar::-webkit-scrollbar {
   display: none;
 }
 
 .hide-scrollbar {
   -ms-overflow-style: none;  
   scrollbar-width: none;     
 }
 .active2  {

   border: 3px solid tomato;
   border-radius: 70px;
   padding: 2px;
   box-sizing: border-box;

 }

 .food_item{
   box-shadow: 0px 0px 10px #00000015;
 }
.profile:hover .prof_drop{
  display : flex ;
  flex-direction: column;
  gap:10px;
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid orange;
  outline  : 2px solid white;
  list-style: none;
 
}

.prof_drop li {
  display: flex ;
  align-items: center;
  gap: 20px;
  padding: 10px;
  cursor: pointer;

}
.prof_drop li img{
  width: 20px;
 
}
.prof_drop li  p {
  font-size: 15px;
}
.prof_drop li:hover{
  color: orangered;
 
}
.verify .spinner{
  width : 100px;
  height :100px;
  place-self: center;
  border: 5px solid #bdbdbdbd;
  border-top-color: tomato;
  border-radius: 50%;
  animation : rotate 1s infinite;
}

@keyframes rotate {
  100%{
    transform: rotate(360deg);
  }
  
}